#registres{
    background-color: aqua;
    margin: 10% 25% 0% 25%;
    padding: 20px 20px 50px 20px;
}
#pagIndex{
    margin-top:20px;
    text-align: center;
    border: 1px dashed black;
}
#errors{
    font-size: medium;
    color:red;
    font-weight: bold;
}
#back{
    width: 155px;
    height: 40px;
    border-radius: 5px;
    color:white;
    background-color: orangered;
    text-transform: uppercase;
}