#registres{
    background-color: aqua;
    margin: 10% 25% 0% 25%;
    padding: 20px 20px 50px 20px;
    font-family: monospace;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }
#pagIndex{
    margin-top:20px;
    text-align: center;
    border: 1px dashed black;
}
#errors{
    font-size: medium;
    color:red;
    font-weight: bold;
}