  p{
   text-align:center;
    font-size: 30px;
  }

  #logo img{
    position: absolute;
    height: 70%;
    top: -15%;
    left: 30%;
  }

  #pic1{
    width: 180px;
    text-transform: capitalize;
    border: 2px solid black;
    height: 220px;
    padding-top: 35px;
    overflow:hidden;
    background-color: rebeccapurple;
    padding-bottom: 10px;
    float:left;
    transition: 0.5s ease;
    color:#000;
  }
  
  #pic1:hover{
   height: 350px;      
  }
  
  #img1{
     width: 150px;
     height: 150px;
    padding-left:25px;
  }
    
  progress {  
      background-color: #f3f3f3;  
      border: 0;  
      height: 18px;  
      border-radius: 15px;  
  }
    
  #contenedor{
    position: absolute;
    top: 40%;
    left: 9%;
  }
  
  
  
  
  