  p{
   text-align:center;
    font-size: 30px;
  }

  #logo img{
    left: 35%;
    top: -10%;
    width: 50%;
    max-width: 400px;
    height: auto;
    position: fixed;
  }

  #pic1{
    width: 200px;
    text-transform: capitalize;
    border: 2px solid black;
    height: 300px;
    padding-top: 35px;
    overflow:hidden;
    background-color: rebeccapurple;
    padding-bottom: 10px;
    float:left;
    transition: 0.5s ease;
    color:#000;
  }
  
  #pic1:hover{
   height: 370px;      
  }
  
  #img1{
     width: 150px;
     height: 150px;
    padding-left:25px;
  }
    
  progress {  
      background-color: #f3f3f3;  
      border: 0;  
      height: 18px;  
      border-radius: 15px;  
  }
    
  #contenedor{
    position: relative;
    display: flex;
    flex-direction: column; 
    margin: 15% 20% 0% 10%;
  }
  #jugar{
    width: 155px;
    height: 40px;
    border-radius: 5px;
    color:white;
    background-color: limegreen;
    text-transform: uppercase;
  }
  #logout{
    width: 155px;
    height: 40px;
    border-radius: 5px;
    color:white;
    background-color: orangered;
    text-transform: uppercase;
  }
  #registre{
    width: 155px;
    height: 40px;
    border-radius: 5px;
    color:white;
    background-color: cornflowerblue;
    text-transform: uppercase;
  }  
  #cancelar{
    width: 155px;
    height: 40px;
    border-radius: 5px;
    color:white;
    background-color: orangered;
    text-transform: uppercase;
    margin: 0px 0px 20px 0px;
  }
  .reroll{
    width: 155px;
    height: auto;
    border-radius: 5px;
    color:white;
    background-color: lawngreen;
    text-transform: uppercase;
    font-size: xx-large;
    padding: 0px 0px 5px 0px;
  }
  #divButons{
    margin: 0px 0px 40px 0px;
  }
  #buscarPartida{
    color:white;
  }
  
  
  
  